* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
div {
    box-sizing: border-box;
}
.tag-news-table {
    display: none;
    border: 1px solid black;
    min-height: 800px;
    width: 100%;
}
.pre-function {
    background-color: #2f2424;
    color: #fff;
}
.tag-news-table-index {
    display: block;
}
.btn-show{
    display: block;
    min-width: 200px;
    margin-bottom: 5px
}
._left-side-bar{
    margin-top: 50px;
}
.white{
    color:#fff;
}
.comment {
    color: #7d7373;
}